@model Y4C2.Models.AddContent

@{
    ViewData["Title"] = "Add Content";
}

<head>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css"> 
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/SideNav.css" />


</head>

<!-- The sidebar -->
<div class="sidebar">
    <a asp-controller="Identity/Account" asp-action="AdminDashboard">Home</a>
    <a class="active" asp-controller="Manage" asp-action="AddContent">Create</a>
    <a asp-controller="Manage" asp-action="ManageContent">Manage</a>
    
</div>

<!-- Page content -->
<div class="content">



    <br />
    <h2 align="center">New Theme</h2>
    <hr />

    <div align="center">
        <div >
            <form asp-controller="Manage" asp-action="AddContent" asp-method="Post" id="add-form">

                <div class="form-group">
                    <label for="Title">Title</label>
                    <input required ="text" class="form-control" name="Title" placeholder="Enter the theme's title" style="width:500px;"/>
                </div>
                <div class="form-group">
                    <label for="Description">Description</label>
                    <input  required type="text" class="form-control" name="Description" placeholder="Enter the theme's Description" style="width:500px;"/>
                </div>
                <div class="form-group">
                    <label for="Video">Video</label>
                    <input  required type="text" class="form-control" name="Video" placeholder="Enter the url of the themes video" style="width:500px;"/>
                </div>
                <div class="form-group">
                    <label for="Audio">Audio</label>
                    <input required type="text" class="form-control" name="Audio" placeholder="Enter the url of the themes audio" style="width:500px;"/>
                </div>

                <input type="hidden" name="ArchiveStatus" value="Active" />

                <label>Blog Post</label>

                <textarea required id="summernote" name="BlogContent"></textarea>
                <script>
                $('#summernote').summernote({
                    placeholder: 'Enter Blog Content Here.',
                    tabsize: 2,
                    height: 300,
                    width: 800
                });
                </script>
                <br /><br />
                      <div class="form-group">

                          <input type="button" value="Cancel" class="btn btn-default" onclick="location.href='@Url.Action("AdminDashboard", "Identity/Account")'" />
                          <input type="submit" value="Submit" class="btn btn-default" />
                      </div>
            </form>
        </div>
    </div>
</div>
