@model Y4C2.Models.AddContent

@{
    ViewData["Title"] = "Archive";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/SideNav.css" />
</head>

<!-- The sidebar -->
<div class="sidebar">
    <a asp-controller="Manage" asp-action="AdminHome">Admin Home</a>
    <a asp-controller="Manage" asp-action="AddContent">Create</a>
    <a class="active" asp-controller="Manage" asp-action="ManageContent">Manage</a>
    
</div>

<!-- Page content -->
<div class="content">
    <br />
    <br />
    <h2 align="center">Archive</h2>
    
    <h4 align="center">Are you sure you want to archive this post?</h4>
    <hr />
    <div align="center">
        <div>
            <form asp-action="Archive">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Title" />
                <input type="hidden" asp-for="Video" />
                <input type="hidden" asp-for="Description" />
                <input type="hidden" asp-for="Audio" />
                <input type="hidden" asp-for="BlogContent" />
                <input type="hidden" asp-for="BlogAuthor" />

                <div class="form-group" align="center" style="width:200px;">
                    <label class="control-label">Change Archive Status:</label><br /><br />
                    <select class="form-control" name="ArchiveStatus">
                        <option disabled selected="selected">Choose Status</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                    <span asp-validation-for="ArchiveStatus" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <input type="button" value="Cancel" class="btn btn-default" onclick="location.href='@Url.Action("ManageContent", "Manage")'" />
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
    </div>