@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/homepage.css">


<div class="container">

    <div class="st-container">

        <input type="radio" name="radio-set" checked="checked" id="st-control-1" />
        <a href="#st-panel-1">Welcome</a>
        <input type="radio" name="radio-set" id="st-control-2" />
        <a href="#st-panel-2">About Us</a>
        <input type="radio" name="radio-set" id="st-control-3" />
        <a href="#st-panel-3">Purpose</a>
        <input type="radio" name="radio-set" id="st-control-4" />
        <a href="#st-panel-4">Contact</a>
        <input type="radio" name="radio-set" id="st-control-5" />
        <a href="#st-panel-5">Get Started</a>

        <div class="st-scroll">

            <!-- Placeholder text from http://hipsteripsum.me/ -->

            <section class="st-panel" id="st-panel-1">
                <div class="st-deco" data-icon="&#xf069;"></div>
                <h2>Welcome to Yoga 4 Change</h2>
                <p>The Social Connection System that promotes purpose-driven yoga and positive change.</p>
            </section>

            <section class="st-panel st-color" id="st-panel-2">
                <div class="st-deco" data-icon="&#xf118;"></div>
                <h2>About Us</h2>
                <p>Yoga 4 Change is a non-profit organization that achieves meaningful change for veterans, incarcerated individuals,
                vulnerable youth, and those dealing with substance abuse. Our purpose-driven yoga program enables us to heal and empower
                these underserved populations, creating healthier, safer communities, one class at a time.</p>
            </section>

            <section class="st-panel" id="st-panel-3">
                <div class="st-deco" data-icon="&#xf0f4;"></div>
                <h2>Our Mission</h2>
                <p>
                    Yoga 4 Change achieves lasting, demonstrative change for veterans, incarcerated individuals, vulnerable youth, and those
                    dealing with substance abuse through a purpose-driven yoga curriculum.
                <br />
                <br />
                <input type="submit" value="Meet The Team" class="btn btn-default" onclick="location.href='/Home/Team'" /></p>

            </section>

            <section class="st-panel st-color" id="st-panel-4">
                <div class="st-deco" data-icon="&#xf06c;"></div>
                <h2>Contact</h2>
                <p>Yoga 4 Change - Jacksonville Chapter

                    P.O. Box 330117

                    Atlantic Beach, Florida

                    32233</p>
            </section>

            <section class="st-panel" id="st-panel-5">
                <div class="st-deco" data-icon="&#xf004;"></div>
                <h2>Let's Start</h2>
                <p><input type="submit" value="Register Today" class="btn btn-default" onclick="location.href='/Identity/Account/Register'"/></p>
            </section>

        </div><!-- // st-scroll -->

    </div><!-- // st-container -->

</div>