
@{
    ViewData["Title"] = "Team";
}


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/Team.css">
</head>
<h2>Meet The Team</h2>
<p style="color: #032b52;">Who Are We?</p>

<div class="container" style="padding-top: 130px;margin-bottom:48px;">
    <div class="row">
        <div class="team">
            <div class="teaming"><img class="team-img" src="~/images/Team/Darnell.jpg" alt="Darnell" style="width:10.7em; height:10.7em;"></div>
            <h4 style="text-align:center;margin-bottom: 2px;margin-top: 25px;">Darnell Lemons</h4>
            <p style="text-align:center;">DEVELOPER</p>

            <div class="teamsocial">

                <ul>
                    <li class="tab" style="list-style: none outside none;">
                        <a href="https://www.linkedin.com/in/darnell-lemons-80ba38131/" title="LinkedIn">
                            <div class="linkedin-team"><i class="fa fa-linkedin"></i></div>
                        </a>
                    </li>
                    <li class="tab" style="list-style: none outside none;">
                        <a href="mailto:darnelldlemons@gmail.com" title="Google">
                            <div class="google-team">
                                <i class="fa fa-google-plus"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="team">
            <div class="teaming"><img src="~/images/Team/Varsha.jpg" alt="Varsha" style="width:10.7em; height:10.7em;"></div>
            <h4 style="text-align:center;margin-bottom: 2px;margin-top: 25px;">Varsha Parthasarathy</h4>
            <p style="text-align:center;">DEVELOPER</p>

            <div class="teamsocial">
                <ul>
                    <li class="tab" style="list-style: none outside none;">
                        <a href="https://www.linkedin.com/in/varsha-parthasarathy-2b2262140/" title="LinkedIn">
                            <div class="linkedin-team"><i class="fa fa-linkedin"></i></div>
                        </a>
                    </li>
                    <li class="tab" style="list-style: none outside none;">
                        <a href="mailto:varsha.partha@gmail.com" title="Google">
                            <div class="google-team">
                                <i class="fa fa-google-plus"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="team">
            <div class="teaming"><img src="~/images/Team/Rodneisha.jpg" alt="Rodneisha" style="width:10.7em; height:10.7em;"></div>
            <h4 style="text-align:center;margin-bottom: 2px;margin-top: 25px;">Rodneisha Williams</h4>
            <p style="text-align:center;">DEVELOPER</p>

            <div class="teamsocial">
                <ul>
                    <li class="tab" style="list-style: none outside none;">
                        <a href="https://www.linkedin.com/in/rodneisha-williams-56262116a/" title="LinkedIn">
                            <div class="linkedin-team"><i class="fa fa-linkedin"></i></div>
                        </a>
                    </li>
                    <li class="tab" style="list-style: none outside none;">
                        <a href="mailto:willrm198@gmail.com" title="Google">
                            <div class="google-team">
                                <i class="fa fa-google-plus"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="team">
            <div class="teaming"><img src="~/images/Team/Nahjani.jpeg" alt="Nahjani" style="width:10.7em; height:10.7em;"></div>
            <h4 style="text-align:center;margin-bottom: 2px;margin-top: 25px;">Nahjani Rhymer</h4>
            <p style="text-align:center;">DEVELOPER</p>

            <div class="teamsocial">
                <ul>
                    <li class="tab" style="list-style: none outside none;">
                        <a href="https://www.linkedin.com/in/nahjanirhymer/" title="LinkedIn">
                            <div class="linkedin-team"><i class="fa fa-linkedin"></i></div>
                        </a>
                    </li>
                    <li class="tab" style="list-style: none outside none;">
                        <a href="mailto:Nahjani18@gmail.com" title="Google">
                            <div class="google-team">
                                <i class="fa fa-google-plus"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>