
@{
    ViewData["Title"] = "Team";
}

<link rel="stylesheet" type="text/css" href="~/css/Team.css">


<h2>Team</h2>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <h2>Meet The Team</h2>
    <p>Resize the browser window to see the effect.</p>
    <br>

    <div class="row">
        <div class="column">
            <div class="card">
                <center>
                    <img src="~/images/Team/Darnell.jpg" alt="Darnell" style="height:200pt " width:100%">
                </center>
                <div class="container">
                    <h2>
                        Darnell Lemons
                        <a href="https://www.linkedin.com/in/darnell-lemons-80ba38131/">
                            <img src="~/images/Team/linkedin.png" alt="Darnell" style="width:2%">
                        </a>
                    </h2>
                    <p class="title">Developer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>darnelldlemons@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <center>
                    <img src="~/images/Team/Varsha2.jpg" alt="Varsha" style="height:200pt " width:100%">
                </center>
                <div class="container">
                    <h2>
                        Varsha Parthasarathy
                        <a href="https://www.linkedin.com/in/varsha-parthasarathy-2b2262140/">
                            <img src="~/images/Team/linkedin.png" alt="Darnell" style="width:2%">
                        </a>
                    </h2>
                    <p class="title">Developer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>varsha.partha@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <center>
                    <img src="~/images/Team/Rod.jpg" alt="Rod" style="height:200pt " width:100%">
                </center>
                <div class="container">
                    <h2>
                        Rodneisha Williams
                        <a href="https://www.linkedin.com/in/rodneisha-williams-56262116a/">
                            <img src="~/images/Team/linkedin.png" alt="Darnell" style="width:2%">
                        </a>
                    </h2>
                    <p class="title">Developer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>willrm198@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <center>
                    <img src="~/images/neutral.jpg" alt="Nahjani" style="height:200pt " width:100%">
                </center>
                <div class="container">
                    <h2>
                        Nahjani Rhymer
                        <a href="https://www.linkedin.com/in/nahjanirhymer/">
                            <img src="~/images/Team/linkedin.png" alt="Darnell" style="width:2%">
                        </a>
                    </h2>
                    <p class="title">Developer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>Nahjani1@hotmail.com</p>
                </div>
            </div>
        </div>
    </div>
</body>

