@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">
<hr />
<hr />
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">

            <form class="login100-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <span class="login100-form-title p-b-33">

                    Create An Account
                </span>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="wrap-input100 validate-input">
                    <label asp-for="Input.FName"></label>
                    <input asp-for="Input.FName" class="form-control" />
                    <span asp-validation-for="Input.FName" class="text-danger"></span>
                </div>
                <div class="wrap-input100 validate-input">
                    <label asp-for="Input.LName"></label>
                    <input asp-for="Input.LName" class="form-control" />
                    <span asp-validation-for="Input.LName" class="text-danger"></span>
                </div>
                <div class="wrap-input100 validate-input">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="wrap-input100 validate-input">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control" />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="wrap-input100 validate-input">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="wrap-input100 validate-input">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="wrap-input100 validate-input">
                    <label asp-for="Input.Dob"></label>
                    <input asp-for="Input.Dob" class="form-control" />
                    <span asp-validation-for="Input.Dob" class="text-danger"></span>
                </div>
                <div class="wrap-input100 validate-input">
                    <label asp-for="Input.TakenYogaClass"></label><br />
                    <input asp-for="Input.TakenYogaClass" type="radio" value="Yes" /> Yes <br />
                    <input asp-for="Input.TakenYogaClass" type="radio" value="No" /> No <br />

                    <span asp-validation-for="Input.TakenYogaClass" class="text-danger"></span>
                </div>
                <div class="container-login100-form-btn m-t-20">
                    <button type="submit" class="login100-form-btn">Register</button>
                </div>
            </form>
        </div>
    </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
