@model System.Collections.Generic.IEnumerable<Y4C2.Models.AddContent>



@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "StudentDashboard";
}

<link rel="stylesheet" href="~/css/studentLayout.css">
<br />
<br />
<br />
<header class="masthead clear">
    <div class="centered">

            <div class="site-branding">
                <h1 class="site-title">Welcome, @UserManager.GetUserName(User)</h1>
            </div>
        <!-- .site-title -->
    </div>
    <!-- .centered -->
</header>
<!-- .masthead -->

<main class="main-area">

    <div class="centered">
        @foreach (var item in @Model)

        {
            <section class="cards">

                <article class="card">
                    <a href="/Home/PlayVideo/@item.Id">@item.Id
                        <figure class="thumbnail">
                            <img src="~/images/YogaImage.jpg" alt="meow">
                        </figure>
                        <div class="card-content">
                            <h2>@item.Title</h2>
                            <p> @item.Description</p>
                        </div>
                        <!-- .card-content -->
                    </a>
                </article>
                <!-- .card -->

                <article class="card">
                    <a href="#">
                        <figure class="thumbnail">
                            <img src="~/images/YogaImage.jpg" alt="meow">
                        </figure>
                        <div class="card-content">
                            <h2>Lesson 2</h2>
                            <p>  non-profit organization that achieves meaningful change for veterans, incarcerated individuals, vulnerable youth, and those dealing with substance abuse. Our purpose-driven yoga program enables us to heal and empower these underserved populations, creating healthier, safer communities, one class at a time.</p>
                        </div>
                        <!-- .card-content -->
                    </a>
                </article>
                <!-- .card -->

                <article class="card">
                    <a href="#">
                        <figure class="thumbnail">
                            <img src="~/images/YogaImage.jpg" alt="meow">
                        </figure>
                        <div class="card-content">
                            <h2>Lesson 3</h2>
                            <p>  non-profit organization that achieves meaningful change for veterans, incarcerated individuals, vulnerable youth, and those dealing with substance abuse. Our purpose-driven yoga program enables us to heal and empower these underserved populations, creating healthier, safer communities, one class at a time.</p>
                        </div>
                        <!-- .card-content -->
                    </a>
                </article>
                <!-- .card -->

                <article class="card">
                    <a href="#">
                        <figure class="thumbnail">
                            <img src="~/images/YogaImage.jpg" alt="meow">
                        </figure>
                        <div class="card-content">
                            <h2>Lesson 4</h2>
                            <p>  non-profit organization that achieves meaningful change for veterans, incarcerated individuals, vulnerable youth, and those dealing with substance abuse. Our purpose-driven yoga program enables us to heal and empower these underserved populations, creating healthier, safer communities, one class at a time.</p>
                        </div>
                        <!-- .card-content -->
                    </a>
                </article>
                <!-- .card -->

                <article class="card">
                    <a href="#">
                        <figure class="thumbnail">
                            <img src="~/images/YogaImage.jpg" alt="meow">
                        </figure>
                        <div class="card-content">
                            <h2>Lesson 5</h2>
                            <p>  non-profit organization that achieves meaningful change for veterans, incarcerated individuals, vulnerable youth, and those dealing with substance abuse. Our purpose-driven yoga program enables us to heal and empower these underserved populations, creating healthier, safer communities, one class at a time.</p>
                        </div>
                        <!-- .card-content -->
                    </a>
                </article>
                <!-- .card -->

                <article class="card">
                    <a href="#">
                        <figure class="thumbnail">
                            <img src="~/images/YogaImage.jpg" alt="meow">
                        </figure>
                        <div class="card-content">
                            <h2>Lesson 6</h2>
                            <p>  non-profit organization that achieves meaningful change for veterans, incarcerated individuals, vulnerable youth, and those dealing with substance abuse. Our purpose-driven yoga program enables us to heal and empower these underserved populations, creating healthier, safer communities, one class at a time.</p>
                        </div>
                        <!-- .card-content -->
                    </a>
                </article>
                <!-- .card -->

                <article class="card">
                    <a href="#">
                        <figure class="thumbnail">
                            <img src="~/images/YogaImage.jpg" alt="meow">
                        </figure>
                        <div class="card-content">
                            <h2>Lesson 7</h2>
                            <p>  non-profit organization that achieves meaningful change for veterans, incarcerated individuals, vulnerable youth, and those dealing with substance abuse. Our purpose-driven yoga program enables us to heal and empower these underserved populations, creating healthier, safer communities, one class at a time.</p>
                        </div>
                        <!-- .card-content -->
                    </a>
                </article>
                <!-- .card -->

            </section>
            <!-- .cards -->
        }
        </div>
    <!-- .centered -->

</main>
