@model Y4C2.Models.Survey

@{
    ViewData["Title"] = "Survey";
}

<head>
    <title>Survey</title>

    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <!--<p style="text-align:center;"> <img src="~/images/Yoga4Change.png" align="middle"> </p>-->


    <br />
    <h2>Survey</h2>
    <hr />
    <center>
        <form>
            <main id="main" class="container">
                <div class="row">
                    <div class="col-xs-12 col-lg-offset-3 col-lg-6">
                        <form method="GET" action="" id="survey-form" name="survey-form">
                            <fieldset>
                                <div class="labels">
                                    How did you enjoy the chapter? *
                                </div>
                                <label>
                                    <input type="radio" name="test4" value="small" checked>
                                    <img src="http://www.businessstickers.com/style8l.gif" height="50" width="50" />
                                </label>

                                <label>
                                    <input type="radio" name="test4" value="big">
                                    <img src="~/images/neutral.jpg" height="50" width="50" />
                                </label>

                                <label>
                                    <input type="radio" name="test4" value="big">
                                    <img src="~/images/redsadface.png" height="50" width="50" />
                                </label>




                            </fieldset>
                            <fieldset>
                                <div class="labels">
                                    Was this yoga lesson difficult for you? *
                                </div>
                                <label>
                                    <input type="radio" name="test3" value="small" checked>
                                    <img src="http://www.businessstickers.com/style8l.gif" height="50" width="50" />
                                </label>

                                <label>
                                    <input type="radio" name="test3" value="big">
                                    <img src="~/images/neutral.jpg" height="50" width="50" />
                                </label>

                                <label>
                                    <input type="radio" name="test3" value="big">
                                    <img src="~/images/redsadface.png" height="50" width="50" />
                                </label>



                            </fieldset>
                            <fieldset>
                                <div class="labels">
                                    Would you reccommend this lesson to a friend ? *
                                </div>
                                <label>
                                    <input type="radio" name="test2" value="small" checked>
                                    <img src="http://www.businessstickers.com/style8l.gif" height="50" width="50" />
                                </label>

                                <label>
                                    <input type="radio" name="test2" value="big">
                                    <img src="~/images/neutral.jpg" height="50" width="50" />
                                </label>

                                <label>
                                    <input type="radio" name="test2" value="big">
                                    <img src="~/images/redsadface.png" height="50" width="50" />
                                </label>
                                <label>


                            </fieldset>
                            <fieldset>
                                <div class="labels">
                                    How likely are you to practice this at home? *
                                </div>
                                <label>
                                    <input type="radio" name="test1" value="small" checked>
                                    <img src="http://www.businessstickers.com/style8l.gif" height="50" width="50" />
                                </label>

                                <label>
                                    <input type="radio" name="test1" value="big">
                                    <img src="~/images/neutral.jpg" height="50" width="50" />
                                </label>

                                <label>
                                    <input type="radio" name="test1" value="big">
                                    <img src="~/images/redsadface.png" height="50" width="50" />
                                </label>
                                <label>


                            </fieldset>


                            </fieldset>
                            <button id="submit" type="submit" class="btn">Submit</button>
                    </div>
                </div>
                </div>
            </main>
        </form>

    </center>
    </div>
    </div>
    </main>
    </form>
</body>



