*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #032b52;
}

.jumbotron {
    text-align:center;
    border-color:#123;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.band {
    height: auto;
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px 50px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-top: none;
    border-bottom: none;
}

    .band h1 {
        margin-top: 10%;
        font-size: 3rem;
        color: #000000;
        font-weight: 100;
        letter-spacing: 0.25px;
    }

    .band p {
        letter-spacing: 0.5px;
        color: #484848;
        font-size: 1.1rem;
        padding-top: 0.75em;
    }

.band101 {
    color: purple;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 1.1rem;
}

    .band101:hover {
        text-decoration: underline;
        color: purple;
    }


/*Cards*/

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 1%;
}

    .cards a:hover {
        color: grey;
        text-decoration: none;
    }

.cards-item {
    display: flex;
    padding: 2rem;
}

@media (min-width: 40rem) {
    .cards-item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards-item {
        width: 33.3333%;
    }
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    margin-bottom: 2em;
    display: inherit;
    width: 350px;
}

.card-image::before {
    display: block;
    content: "";
    padding-top: 56.25%;
}

@media (min-width: 40rem) {
    .card-image::before {
        padding-top: 66.6%;
    }
}

.card-image1 {
    background-image: url(https://unsplash.it/800/600?image=82);
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 1.4em;
}

.card-title {
    color: #032b52;
    font-size: 2.2rem;
    font-weight: 500;
    padding-bottom: 1rem;
    text-align:center;
}

.card-text {
    text-align:center;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    color: #032b52;
}

.cards-button {
    border-color: #123;
    border: 2.5px solid;
    color: #123;
    padding: 0.5rem;
    text-align: center;
}

.button-block {
    display: block;
    width: 100%;
}


/*Cards*/
